<a href="https://colab.research.google.com/github/SarahJane86/Project2/blob/main/Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project 2 - Part 1 (Core)
### Sarah Musselwhite
#### August 27, 2022

### First choice: Heart Failure

In [2]:
import pandas as pd
import numpy as np

1) Source of data

##### https://www.kaggle.com/datasets/andrewmvd/heart-failure-clinical-data

In [3]:
heart_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ0gjToMQ5DRQ4Q5uok5ADJf_1cZDD8eGUNNLsSpz_pYQ3SLYZsOYsrjEaBjXEbGdfXzduFznLZXfF7/pub?gid=1116141808&single=true&output=csv')
heart_df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

#### 2) Brief description of data

##### Heart disease is one of the most leading causes of death globally taking an estimated 17.9 million lives per year. Heart failure is a common event caused by a Cardiovascular Disease. Most can be prevented by addressing certain behaviors, such as smoking, physical health, and alcohol use.

##### People with CVD or have a risk of developing CVD, need early detection and insight on how to manage it.

####3) What is the target?
###### Target will be "Death Event"

#### 4) Is this a classification or regression problem?

###### Classification, because I will be exploring what factors contribute to Death events, is it a compilation of many things? Or something different.

####5) How many features?

In [4]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB


#####6) How many rows of data.

In [5]:
 len(heart_df.index)

299

#### 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

##### In cleaning, I forsee a bit of time consumption, due to the fact of trying to narrow down what aspects to keep, and what to drop. What counts more toward the target. I'm honestly excited to explore this data, as much of my family history, most in my family tree has been affected by some sort of cardiac health issue.

### Second choice: Online Shopper's Purchasing Intentions

1) Source of data

###### https://www.kaggle.com/datasets/imakash3011/online-shoppers-purchasing-intention-dataset

In [6]:
sales_df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vTh4gSHabYNb27cT_Vo2E3M8X9kRvND2dzMbcTdyvAmuEJTDqya-5yeH6cPjxpFn6aiV8s6_5xivX1T/pub?gid=1905898455&single=true&output=csv')
sales_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

2) Brief description of data

#### This dataset is exploring what drives and influences online shoppers, including everything from product types, special occasions, if the shopper has visted the site before, or not, etc.

#### 3) What is the target?

###### Global Sales

####4) Is this a classification or regression problem?

###### Regression

#### 5) How many features?

In [9]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB


####6) How many rows of data.

In [10]:
len(sales_df.index)

16598



#### 7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

##### I believe there will be some challenges in deciding what items to drop and what to keep. Also deciding what types of models to show my data on.